@import "../../../Theme.scss";

.ViewVehicle {
  display: flex;
  background-color: $background-color;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 0.2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  border: 0.3em solid $main-color;
  overflow: hidden;

  .buttonContainer {
    margin: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-right: 1em;
    width: 100%;
    height: 3em;
    justify-content: left;
  }

  .vehicleHeaderContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;

    .title {
      color: $main-color;
      text-align: left;
      margin-top: 0.2em;
      margin-left: 0.2em;
    }
  }

  .horizontalDivider {
    width: 100%;
    margin-top: 3px;
    height: 0.2em;
    background-color: $main-color;
  }

  .viewVehicleContent {
    margin-top: 0.5em;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .vehicleSoldContainer{
      padding: 1em 1em 0em 1em;
      display: flex;
    }

    .viewVehicleRow {
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .vehicleImageGalleryContainer {
      background-color: white;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
      align-items: center;
      width: 30em;
      max-width: 100%;
      height: 20em;
      margin: auto;
      margin-bottom: 1em;

      .vehicleImageContainer {
        position: relative;
        background-color: $main-color;
        width: 25em;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .vehicleImage {
          width: 100%;
          max-height: 100%;
        }
      }
    }

    .vehicleDetailsContainer {
      width: 24em;
      height: 20em;
      max-width: 100%;
      display: flex;
      margin: auto;
      margin-bottom: 1em;
      flex-direction: column;

      .detailsDiv {
        background-color: white;
        padding: 1em;
        margin-top: 0.1em;
        flex: 1 1 auto;
        height: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);

        .detailsRow {
          width: 100%;
          text-align: left;
          display: flex;
          flex-direction: row;

          .title {
            font-weight: 500;
            color: $main-color;
            margin-right: 0.5em;
          }
        }
      }

      .featuresListContainer {
        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
        background-color: white;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        justify-content: left;

        .feature {
          text-align: left;
        }
      }
    }

    .title {
      text-align: left;
      color: $main-color;
    }

    .vehicleDescriptionContainer {
      width: 98%;
      display: flex;
      margin: auto;
      margin-bottom: 1em;
      flex-direction: column;

      .description {
        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
        background-color: white;
        max-height: 10em;
        overflow-y: auto;
        padding: 0.5em;
        text-align: left;
      }
    }
  }

  .contentButtonsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }

  .vehicleSoldMessage{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
}
