@import "../../../Theme.scss";

.ViewVehicle {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0.2em;
  .buttonContainer {
    width: 100%;
    height: 5%;
    justify-content: left;
  }

  .viewVehicleContent {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    overflow-y: auto;

    .headerContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        color: $main-color;
        margin-top: 0.2em;
        margin-left: 1em;
      }
    }

    .viewVehicleRow {
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .vehicleImageGalleryContainer {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 30em;
      height: 20em;

      .vehicleImageContainer {
        background-color: $main-color;
        width: 25em;
        height: 20em;
        padding: 2px;
        display: flex;

        .vehicleImage {
          object-fit: contain;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    .vehicleDetailsContainer {
      padding-top: 0.5em;
      width: 26em;
      height: 20em;
      padding-left: 1em;
      display: flex;
      flex-direction: column;

      .title {
        text-align: left;
        color: $main-color;
      }

      .detailsDiv {
        padding: 1em;
        flex: 1 1 auto;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;

        .detailsRow {
          width: 100%;
          text-align: left;
          display: flex;
          flex-direction: row;

          .title {
            font-weight: 500;
            color: $main-color;
            margin-right: 0.5em;
          }
        }
      }

      .featuresListContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        justify-content: left;

        .feature {
          text-align: left;
        }
      }
    }

    .horizontalDivider {
      width: 100%;
      margin-top: 3px;
      margin-bottom: 3px;
      height: 0.2em;
      background-color: $main-color;
    }
  }
}
