@import "../../../Theme.scss";

.vehicleItem{
    background-color: white;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .vehicleHeader{
        width: 100%;
        font-weight: lighter;
        font-size: 1.5em;
        background-color: $main-color;
        padding-bottom: .2em;
        padding-top: .2em;
        display: flex;
        color: white;
        flex-direction: row;
    
        .vehicleName{
            margin-left: .8em;
        }
    }

    .vehicleDetails{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;

        .vehicleImageContainer{
            margin-left: .5em;
            width: 11em;
            height: 10em;
            display: flex;
            align-items:center;
            justify-content: center;
            
            .vehicleImage{
                object-fit: fit;
                max-height: 100%;
                max-width: 100%;
            }
        }
    
        .vehicleDescriptionContainer{
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            font-size: 1.1em;
            flex-direction: row;
            margin-bottom: .2em;
            align-items: stretch;
            justify-content: space-between;

            .vehicleDescriptionColumn{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: .1em;
                margin-left: 1em;
                width: 15em;

                .descriptionRow{
                    width: 100%;
                    text-align: left;
                    display:flex;
                    flex-direction: row;
                    justify-content: left;

                    .descriptionTitle{
                        font-weight: 500;
                        color: $main-color;
                        margin-right: .5em;
                    }
                }
            }

            .vehiclePriceContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 10em;

                .priceTypography{
                    color: $main-color;
                    font-weight: bold;
                }
            }
        }
    }
}