.splitDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
  
    .halfSplitDialogField {
      width: 49%;
    }
  
    .thirdSplitDialogField {
      width: 32%;
    }
  }