.splitDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .vehicleDialogField{
        width: 45%;
    }

    .addImageButton{
        margin-bottom: 0.5em;
    }
}

#vehicleDialog{
    background-color: transparent;
}